/******************************************* 
font families used in document 
	font-family: 'Lora', serif;
	font-family: 'Quicksand', sans-serif;
*******************************************/
/****************************** 
General style rules for website 
*******************************/
* {
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #F0FFFF;
	background-image: url("images/sun.png");
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100vh;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5em;
	color: rgba(70,130,180,1);
	position: relative;
}
body#dressPage {
	background-image: none;
	position: relative;
}
section, main, footer {
	display: block;
}
/******************** 
Rules to style header 
*********************/
h1 {
	font-size: 3em;
	line-height: 1em;
	float: left;
	margin-bottom: -0.1em;
}
nav {
	float: right;
	display: block;
	margin-top: 1.2em;
}
nav > ul {
	list-style: none;
	position: relative;
	display: block;
}
nav > ul  li {
	display: inline;
	font-size: 1.5em;
	line-height: 1em;
}
nav > ul li > a {
	display: inline-block;
	padding-right: .5em;
} 
nav > ul li > a:link, a:visited {
	text-decoration: none;
	color: rgba(70,130,180,.5);
}
nav > ul li > a:hover, a:active {
	text-decoration: none;
	color: rgba(70,130,180,1);
	font-weight: bolder;
}
a#active {
	color: rgba(70,130,180,.8);
	font-weight: 400;
}
header nav ul input {
	opacity: 0;
}
header nav ul span {
	display: none;
}
hr {
	border: 1px dashed rgba(184,134,11,1);
	clear: both;
}
/********************* 
Rules to style footer 
**********************/
footer {
	position: absolute;
	bottom: 0;
	right: 48%;
	margin-top: 3em;
}
/************************* 
Rules to style index page 
**************************/
section#splash {
	position: absolute;
	bottom: 5em;
	right: 0;
	margin-bottom: 2em;
}
section#splash > p {
	font-size: 2em;
}
section#splash > p > a {
	text-decoration: none;
	color: rgba(70,130,180,.5);
}
section#splash > p > a:hover {
	text-decoration: none;
	color: rgba(70,130,180,1);
}
/***************************
Rules to style dresses page 
*****************************/
section#dress-images h2 {
	font-size: 1.5em;
	margin-top: 2em;
	margin-left: 1em;
	padding-bottom: .2em;
	border-bottom: 1px dashed rgba(184,134,11,1);
	display: inline-block;
}
section#dress-images div {
	margin: 1em 5em;
}
section#dress-images img {
	margin: 3em;
	width: 299px;
	height: 428px;
	cursor: pointer;
}
section#dress-images img:hover {
	border: 2px solid #F0FFFF;
}
/******************************************* 
Rules to style individual dress detail pages 
********************************************/
.dresspage > img {
	float: left;
	display: inline-block;
	cursor: inherit;
	width: 384px;
	height: 548px;
	margin: 3em 5em;
}
.dresspage div {
	float: right;
	display: inline-block;
	margin-top: 5em;
	margin-right: 15em;
	margin-bottom: 2em;
}
.dresspage div h3 {
	font-size: 1em;
	display: inline-block;
	padding-bottom: .2em;
	border-bottom: 1px dashed rgba(184,134,11,1);
	margin-top: 1em;
	margin-bottom: 1em;
}
.dresspage div ul > li {
	list-style: none;
	padding-bottom: 1em;
	max-width: 22em;
	font-family: 'Lora', serif;
}
.dresspage div a {
	text-decoration: none;
	color: rgba(70,130,180,.5);
	display: inline-block;
	margin-right: 1.5em;
	margin-top: 1.5em;
}
.dresspage div a:hover {
	text-decoration: none;
	color: rgba(70,130,180,1);
}
/**********************************
Rules to style aboutStitchery page
***********************************/
section#about {
	margin-top: 2em;
	margin-left: 3em;
	margin-bottom: 5em;
}
section#about h2 {
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 1em;
	padding-bottom: .2em;
	border-bottom: 1px dashed rgba(184,134,11,1);
	display: inline-block;
}
section#about p {
	max-width: 25em;
	margin-bottom: 1em;
	font-family: 'Lora', serif;
	line-height: 1.2em;
}
/******************************* 
Rules to style policies page 
********************************/
section#policies {
	margin-top: 2em;
	margin-left: 3em;
	margin-bottom: 5em;
}
section#policies h2 {
	font-size: 1.5em;
	margin-top: 3em;
	margin-bottom: 1em;
	padding-bottom: .2em;
	border-bottom: 1px dashed rgba(184,134,11,1);
	display: inline-block;
}
section#policies p {
	max-width: 25em;
	margin-bottom: 1em;
	font-family: 'Lora', serif;
}
.clearfix:after {
	visibility: hidden;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
}
/********************************************
Media queries to make responsive toggle menu
*********************************************/
@media only screen and (max-width: 650px) {
	header nav ul span {
		display: inline-block;
		text-align: center;
		font-size: 1.5em;
		z-index: 1;
	}
	header nav ul input {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		cursor: pointer;
	}
	header nav ul  li {
		display: none;
	}
	header nav ul input:checked + span{
		opacity: 0.5;
	}
	header nav ul input:checked ~ li {
		position: relative;
		display: inline-block;
		z-index: 2;
	}
}
/*********************************************
Media Queries to make site responsive 
**********************************************/
@media only screen and (max-width: 784px) {
	body {
		font-size: 12px;
	}
}
@media only screen and (max-width: 598px) {
	h1 {
		font-size: 2.75em;
	}
	nav {
		margin-top: 0.5em;
	}
	section#splash > p {
		font-size: 1.5em;
	}
	body {
		font-size: 10px;
		background-size: 65%;
	}
/********************************************************
Media queries to make footer responsive
*********************************************************/
@media only screen and (max-width: 640px) {
	footer {
		margin-top: 2em;
		padding-top: 1em;
	}
	section#about, section#policies {
		margin-bottom: 2em;
		padding-bottom: 2em;
	}
}

@media only screen and (max-width: 360px) {
	section#about + footer, section#policies + footer {
		display: none;
		opacity: 0;
		visibility: none;
	}
/**********************************************
Media queries to make dresses page responsive 
***********************************************/
@media only screen and (max-width: 1370px) {
	section#dress-images div {
	margin: 1em 4em;
	}
	section#dress-images img {
	margin: 2em;
	width: 299px;
	height: 428px;
	}	
}
@media only screen and (max-width: 1250px) {
	section#dress-images div {
	margin: 1em 3em;
	}
	section#dress-images img {
		margin: 2em;
	}
}
@media only screen and (max-width: 1222px) {
	section#dress-images img {
		margin: 4em;
	}
}
@media only screen and (max-width: 1095px) {
	section#dress-images div {
	margin: 1em 4em;
	}
	section#dress-images img {
	margin: 3em;
	width: 206px;
	height: 295px;
	cursor: pointer;
	}
}
@media only screen and (max-width: 1088px) {
	section#dress-images div {
		margin: 1em 3em;
	}
	section#dress-images img {
		margin: 2em;
	}
}
@media only screen and (max-width: 970px) {
	section#dress-images div {
		margin: 1em 3em;
	}
	section#dress-images img {
		margin: 2em;
	}
}
@media only screen and (max-width: 900px) {
	section#dress-images img {
		margin: 4em;
	}
}
@media only screen and (max-width: 693px) {
	section#dress-images img {
		margin: 2em;
	}
}
@media only screen and (max-width: 611) {
	section#dress-images div {
		margin: 1em auto 3em;
	}
	section#dress-images img {
		margin: 1em auto;
	}
}
/*************************************************** 
Media queries to make dress details pages responsive 
****************************************************/
@media only screen and (max-width: 1150px) {
	.dresspage img {
		width: 362px;
		height: 484px;
		margin: 3em;
	}
	.dresspage div {
		margin-right: 5em;
	}
	.dresspage div h3, ul > li {
		font-size: 1em;
	}
}
@media only screen and (max-width: 892px) {
	.dresspage img {
		width: 269px;
		height: 384px;
		margin: 4em 3em;
	}
	.dresspage ul > li {
		font-size: .8em;
	}
}
@media only screen and (max-width: 785px) {
	.dresspage div ul > li {
		font-size: 1em;
	}
	.dresspage div h3 {
		font-size: 1em;
	}
}
@media only screen and (max-width: 678px) {
	.dresspage div {
		float: none;
		margin: 1em 4em 4em;
	}
	.dresspage img {
		margin: 4em 3em 2em;
	}
}
@media only screen and (max-width: 615px) {
	.dresspage div ul > li {
		font-size: 1.2em;
	}
	.dresspage div h3 {
		font-size: 1.2em;
	}
	.dresspage div {
		float: none;
		margin: 1em 3em 3em;
	}
	.dresspage img {
		margin: 4em 2em 2em;
	}

}








