*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body {
	background-color: #F0FFFF;
	background-image: url("images/sun.png");
	background-repeat: no-repeat;
	background-position: center;
	font: 400 18px 'Josefin Slab' serif;
	color: #4682B4;
	min-width: 95vh;
	min-height: 100vh;
}
body#dressPage {
	background-image: none;
}
header, nav, section {
	display: block;
}
h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 3.75em;
	line-height: 1em;
	float: left;
	margin-bottom: -0.2em;
}
nav {
	float: right;
	margin: 1em 0 0 0;
	font-size: 1.5em;
	font-weight: 100;
}
nav ul > li {
	display: inline;
}
ul li > a {
	/*display: inline-block;*/
}
ul li > a:link, a:visited {
	text-decoration: none;
	color: #1E90FF;
}
ul li > a:hover, a:active {
	text-decoration: none;
	color: #1E90FF;
	font-weight: bolder;
}
.active {
	color: #1E90FF;
	font-weight: 400;
}
hr {
	border: 1px dashed #B8860B;
	clear: both;
}
main {
	margin: 2.5em auto;
}
section {
	margin: 5em 0 3em 2em;
}
aside {
	margin: 10em 5em 0 0;
	float: right;
}
h2 {
	font-size: 1.75em;
	padding-bottom: 1.25em;
}
img {
	margin: 1em;
	width: 299px;
	height: 428px;
}
img:hover {
	cursor: pointer;
}
.dresspage > img {
	margin: 2em 0 0 2em;
	width: 484px;
	height: 648px;
	cursor: inherit;
}
p {
	text-align: left;
	color: #4682B4;
	font: 400 1.2em/1.5em 'Josefin Slab', serif;
	max-width: 25em;
	margin-bottom: 1em;
}
p#intro {
	/*margin: 35% 0 auto auto;*/
	margin: 10em 0 auto auto;
	max-width: 20em;
	font: 2.5em 'Quicksand' sans-serif;
	text-align: right;
}
ul {
	list-style: square inside;
	font-size: 1.2em;
	max-width: 25em;
}
li {
	padding: .5em;
}
aside > ul > li {
	max-width: 20em;
	font-size: 1em;
	line-height: 1.5em;
}
footer {
	background-color: #fff;
	
}
footer > p {
	display: block;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	left: 48%;
}
.clearfix:after {
	visibility: hidden;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
}
@media only screen and (max-width: 61em) {
	.dresspage > img {
		width: 299px;
		height: 428px;
	}
	section {
		margin: 5em 0em 0;
	}
	aside {
		float: none;
		margin: 2em;
		font-size: .8em;
		line-height: .8em;
	}
	p {
		font-size: 1.2em;
		line-height: 1.2em;
		max-width: 100%;
	}
	p#intro {
		font-size: 1.5em;
		text-align: left;
		position: relative;
		left: -5%;
		/*margin: 12em auto 0 auto;*/
	}
}
