*{
	margin: 0;
	padding:0;
}
header, nav, section {
	display: block;
}
body {
	background-color: #F0FFFF;
  	margin-right: 6.25em;
  	margin-left: 6.25em;
  	font-size: 16px;
  	background-image: url("images/sun.png");
	background-repeat: no-repeat;
	background-position: center;
}
body#dressPage {
	background-color: #F0FFFF;
	background-image: none;
	margin-right: 6.25em;
  	margin-left: 6.25em;
}
h1 {
	color: #4682B4;
	font-family: 'Quicksand', sans-serif;
	font-size: 4.70em;
	float: left;
	margin-bottom: -0.3em;
}
h2 {
	color: #4682B4;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.9em;
	margin-top: 4em;
	margin-bottom: 1.5em;
	text-align: left;
}
nav {
	float: right;
	margin-top: 2.7em;
	margin-bottom: 0;
}
a {
	display: inline-block;
	padding: 0 10px 0 10px;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
}
a:link, a:visited {
	text-decoration: none;
	color: #1E90FF;
}
a:hover, a:active {
	text-decoration: none;
	color: #1E90FF;
	font-weight: bolder;
}
span {
	color: #1E90FF;
	font-weight: bolder;
	font-size: 1.5em;
}
hr {
	border-style: dashed;
	border-width: 1px;
	border-color: #B8860B;
	clear: both;
}
p#intro {
	margin-top: 11.5em;
	max-width: 30em;
	text-align: right;
	font-family: 'Quicksand', sans-serif;
	font-size: 2.5em;
	color: #4682B4;
}
main {
	margin: 5em auto;
}
img {
	margin: 1em;
}
p {
	text-align: left;
	color: #4682B4;
	font-family: 'Old Standard TT', serif;
	font-size: 1.2em;
	line-height: 1.8em;
	max-width: 25em;
	margin-bottom: .75em;
}
pre {
	color: #4682B4;
	font-family: 'Old Standard TT', serif;
	font-size: 1.2em;
	max-width: 25em;
	margin-left:-4em;
}
