*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body {
	background-color: #F0FFFF;
	background-image: url("images/sun.png");
	background-repeat: no-repeat;
	background-position: center;
	font: 400 18px 'Josefin Slab' serif;
	color: #4682B4;
	min-height: 100vh;
	position: relative;
}
body#dressPage {
	background-image: none;
}
header, nav, section {
	display: block;
}
h1 {
	font: 3.75em 'Quicksand', sans-serif;
	float: left;
	margin-bottom: -0.2em;
}
nav {
	float: right;
	margin: 2em 0 0 0;
}
a {
	display: inline-block;
	padding: 0 1em 0 1em;
	font-weight: 100;
	font-size: 1.5em;
}
a:link, a:visited {
	text-decoration: none;
	color: #1E90FF;
}
a:hover, a:active {
	text-decoration: none;
	color: #1E90FF;
	font-weight: bolder;
}
.active {
	color: #1E90FF;
	font-weight: 400;
}
hr {
	border: 1px dashed #B8860B;
	clear: both;
}
main {
	margin: 5em auto;
}
section {
	margin: 0 3.5em;
	position: absolute;
	top: 25%;
	transform: translateY(-25%);
}
h2 {
	font-size: 1.75em;
	padding-bottom: 1.25em;
}
img {
	margin: 1em;
	width: 299px;
	height: 428px;
}
p {
	text-align: left;
	color: #4682B4;
	font: 400 1.2em/1.5em 'Josefin Slab', serif;
	max-width: 25em;
	margin-bottom: 1em;
}
p#intro {
	margin: 7em auto 0 auto;
	max-width: 20em;
	font: 2.5em 'Quicksand' sans-serif;
	text-align: right;
}
ul {
	list-style: square inside;
	font-size: 1.2em;
	max-width: 25em;
}
li {
	padding: .5em;
}
