@media only screen and (max-width: 1370px) {
	section#dress-images div {
	margin: 1em 4em;
	}
	section#dress-images img {
	margin: 2em;
	width: 299px;
	height: 428px;
	}	
}
@media only screen and (max-width: 1250px) {
	section#dress-images div {
	margin: 1em 3em;
	}
	section#dress-images img {
		margin: 2em;
	}
}
@media only screen and (max-width: 1222px) {
	section#dress-images img {
		margin: 4em;
	}
}
@media only screen and (max-width: 1095px) {
	section#dress-images div {
	margin: 1em 4em;
	}
	section#dress-images img {
	margin: 3em;
	width: 206px;
	height: 295px;
	cursor: pointer;
	}
}
@media only screen and (max-width: 1088px) {
	section#dress-images div {
		margin: 1em 3em;
	}
	section#dress-images img {
		margin: 2em;
	}
}
@media only screen and (max-width: 970px) {
	section#dress-images div {
		margin: 1em 3em;
	}
	section#dress-images img {
		margin: 2em;
	}
}
@media only screen and (max-width: 900px) {
	section#dress-images img {
		margin: 4em;
	}
}
@media only screen and (max-width: 611) {
	section#dress-images div {
		margin: 1em auto 3em;
	}
	section#dress-images img {
		margin: 1em auto;
	}
}





