* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	max-width: 75em;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
h1 {
	float: left;
	font-size: 5em;
	font-weight: 700;
}
h2 {
	float: left;
	font-size: 2em;
	padding: 1.5em 0 0 .2em;
}
nav {
	float: right;
}
a {
	display: inline-block;
	padding: 3em 2em 0 0;
	font-size: 1.2em;
	color: #000;
	text-decoration: none;
}
footer a {
	padding: 2em 2em 0 0;
}
div footer > a {
	font-size: 1em;
}
a:link {
	color: #000;
}
a:visited {
	color: #000;
}
a:hover, a:active {
	color: rgba(0,220,245,.8);
}
div {
	min-height: 100vh;
}
h3 {
	padding: 7em 0 0 1.5em;
}
section#services > h3 {
	padding-left: 1.4em;
	color: #000;
}
section#work > h3 {
	padding: 1em 0 1em .5em;
	font-size: 3em;
}
p {
	max-width: 25em;
	padding-top: 1.5em;
	padding-left: 1.5em;
	font-family: 'Junge', serif;
	font-weight: 400;
	line-height: 1.5em;
}
section#work p:nth-child(odd) {
	background-color: rgba(0,220,245,.2);
}
section#work p:nth-child(even) {
	background-color: rgba(0,220,245,.5);
}
ul {
	list-style-type: none;
	list-style-position: inside;
	color: #000;
	padding-bottom: 9em;
	padding-left: 1.5em;
}
li {
	padding-top: 1em;
}
section#about {
	float: left;
	width: 75%;
}
section#services {
	float: right;
	width: 25%;
	margin-top: 3em;
	background-color: rgba(0,220,245,1);
}
section#work > p {
	width: 33%;
	float: left;
}
section > footer {
	clear: both;
	margin-left: 1.5em;
	margin-bottom: 0;
}
div > footer {
    left: 40%;
	position: absolute;
	bottom: -115%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	font-size: 0;
	height: 0;
	clear: both;
}