* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color:#222;
	max-width: 75em;
	margin:auto;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
div {
	min-height: 80vh;
}
nav {
	float: right;
	padding: 1.5em;
}
a {
	display: inline-block;
	font-size: 1.2em;
	color: #222;
	text-decoration: none;
	padding-right: 1em;
}
a:link, a:visited {
	color: #222;
}
a:hover, a:active {
	color: rgba(0,220,245,.8);
}
section { 
	margin-top: 3em;
}
section#about {
	float: left;
	width: 66.66%;
}
section#about > p {
	max-width: 50%;
	padding-left: 0;
}
section#about footer > a {
	font-size: 1.2em;
	margin-top: 1.5em;
	margin-bottom: 0;
}
section#services {
	float: right;
	width: 33.33%;
	background-color: rgba(0,220,245,1);
	height: 50%;

}
section#services > h2 {
	padding-left: .5em;
}
ul {
	list-style-type: none;
	list-style-position: inside;
	padding-bottom: 12em;
	padding-left: 1em;
}
li {
	padding-bottom: .5em;
}
section#work > h2 {
}
section#work .projects:nth-child(odd) {
	background-color: rgba(0,220,245,.2);
}
section#work .projects:nth-child(even) {
	background-color: rgba(0,220,245,.5);
}
section#work .projects {
	width: 33%;
	float: left;
}
div  > footer {
	clear: both;
}
footer > p {
	padding-top: 15em;
	position: relative;
	left: 40%;
}
footer p > a {
	font-size: 1em;
}
h1 {
	float: left;
	font-size: 3em;
	font-weight: 700;
}
h1 span {
	font-size:.5em;
	font-weight:400;
}
h2 {
	font-size: 1.5em;
	padding-bottom: .5em;
	padding-left: 0;
}
h3 {
	height: 2em;
	padding-left: 1.2em;
}
p {
	max-width: 25em;
	font-family: 'Junge', serif;
	font-weight: 400;
	line-height: 1.5em;
	padding: 1.5em;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	font-size: 0;
	height: 0;
	clear: both;
}
