/* General style rules for entire stitchery5 site: one page scroll with dress photo on landing page */
* {
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Junge', serif;
	font-size: 16px;
	color: #333;
}
a {
	text-decoration: none;
	color: #222;
}
h2 {
	font-family: 'Lato', sans-serif;
	color: #222;
	border-top: 10px solid #222;
	padding-top: 1em;
	padding-left: 1.2em;
	padding-bottom: 1em;
}
/* Rules for styling header */
h1 {
	font-family: 'Playfair Display SC', serif;
	font-size: 300%;
}
h1 > span {
	font-family: 'Junge', serif;
	font-size: 30%;
	font-weight: lighter;
}
nav {
	display: block;
	text-align: center;
	background-color: #222;
	margin-top: .2em;
}
nav ul > li {
	display: inline;
	margin: 0 10% 0;
}
li > a {
	text-decoration: none;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	padding: .5em;
}
li > a:hover, a:active {
	background-color: #fff;
	color: #333;
}
/* Rule to style home section of index,html */
section#splashimage > a > img {
	width: 600px;
	display: block;
	margin: 2em auto;
}
section#splashimage > a > img:hover {
	border: 2px solid #fff;
}
/* Rules to style dresses section of index.html */
section#dresses {
	/*background-color: rgba(245,245,220,.05);*/
	background-color: rgba(245,245,220,.2);
}
section#dresses  img {
	margin: 2em auto 2em 2em;
	width: 240px;
	height: 320px;
}
section#dresses .clearfix:nth-last-child(2) > div > a > img {
	width: 240px;
	height: 240px;
}
section#dresses img:hover {
	border: 1px solid #fff;
}
section#dresses .clearfix div {
	float: left;
}
div > p {
	margin-top: 4em;
	margin-left: 2em;
	font-size: .9em;
	line-height: 1.5em;
	max-width: 20em;
}
p > span {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}
section#dresses .clearfix div:nth-child(even) > a {
	display: inline-block;
	font-size: .9em;
	color: #888;
	margin-top: 1.5em;
	padding-left: 2em;
}
section#dresses .clearfix div:nth-child(even) > a:hover {
	color: #222;
}
/* Rules to style 'container' section */
section#policies p, section#about ul > li {
	max-width: 25em;
	font-size: 1em;
	line-height: 1.2em;
	margin-bottom: .5em;
	padding-left: 2em;
}
section#about ul > li {
	list-style: square inside;
}
section#container {
	width: 100%;
}
section#about, section#policies {
	width: 50%;
	float: left;
}
section#policies {
	border-left: 5px solid #222;
}
/* Rules to style dress pages */
body#details {
	background-color: rgba(245,245,220,.2);
}
body#details > header {
	background-color: #fff;
}
section#dressdetails {
	width: 100%;
}
section#dressdetails div {
	width: 45%;
	display: inline-block;
}
section#dressdetails div#photo-container > img {
	margin: 3em;
	width: 70%;
}
section#dressdetails div#photo-container > img#rosedress {
	margin: 3em;
	width: 85%;
}
section#dressdetails div#dress-description {
	float: right;
	margin: 7em 5em 3em 0em;

}
section#dressdetails div#dress-description > h3 {
	font-family: 'Lato', sans-serif;
	color: #222;

}
section#dressdetails div#dress-description ul {
	margin-bottom: 2em;
	margin-top: 1em;

}
section#dressdetails div#dress-description ul > li {
	list-style: none;
	padding-bottom: .5em;
	max-width: 25em;
}
section#dressdetails div#dress-description a {
	display: inline-block;
	padding-right: 4em;
	color: #aaa;
}
section#dressdetails div#dress-description a:hover {
	color: #222;
}
/* Rules to style footers */
footer {
	/*background-color: rgba(200, 145, 123, .5);*/
	background-color: rgba(245,245,220,.2);
	/*border-top: 10px solid #222;*/
	padding-top: 2em;
	padding: .5em;
}
footer p {
	text-align: center;
	position: relative;
	font-size: 80%;
}
footer p a {
	color: rgba(245,145,123,1);
}
.clearfix:after {
	visibility: hidden;
	content: " ";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
}
/***************************************
Media Queries
***************************************/
@media only screen and (max-width: 1135px) {
	section#dresses .clearfix div {
		float: none;
	}
	section#dresses div > p {
		margin-top: 1em;
		font-size: .9em;
		line-height: 1.5em;
		max-width: 20em;
		margin-left: 2em;
	}
	section#dresses  img {
		margin: 2em auto 0 2em;
		width: 240px;
		height: 320px;
	}
	section#dresses .clearfix div:nth-child(even) > a {
		display: inline-block;
		font-size: .9em;
		color: #888;
		margin-top: .5em;
		padding-left: 2em;
	}
}
@media only screen and (max-width: 876px) {
	section#about, section#policies {
		float: none;
		width: 100%;
		margin-bottom: 2em;
	}
	section#policies {
		border: none;
	}
	h2 {
		font-family: 'Lato', sans-serif;
		color: #222;
		border-top: 3px solid #222;
		padding-top: 1em;
		padding-left: 1.2em;
		padding-bottom: 0.5em;
		width: 100%
	}
}
@media only screen and (max-width: 844px) {
	section#dressdetails div#dress-description {
		float: none;
		width: 85%;
		margin: 1em 2em 2em 2em;
	}
	section#dressdetails div#photo-container {
		width: 95%;
	}
}
@media only screen and (max-width: 640px) {
	section#splashimage {
		width: 95%;
		overflow: hidden;
		display: block;
		margin: 2em auto;
	}
	section#splashimage > a > img {
		width: 75%;
		display: block;
		margin: 2em auto;
	}
}
@media only screen and (max-width: 600px) {
	nav ul li {
		display: block;
	}
}
@media only screen and (max-width: 628px) {
	h1 > span {
		display: none;
	}
}
