*{
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* + * {
	margin-bottom: 3%;
}
body {
	text-align: center;
	font-size: 16px;
	background-image: url(images/IMG_0637.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;	
	/*border: 50px solid transparent;
	padding: 0;
    -webkit-border-image: url(images/IMG_0637.jpg) 5 fill stretch; /*Safari 3.1-5 */
    /*-o-border-image: url(images/IMG_0637.jpg) 5 fill stretch; */ /* Opera 11-12.1 */
    /*border-image: url(images/IMG_0637.jpg) 5 fill stretch;*/
}
section {
	width: 90%;
	margin-left: 100px;
}
div#center {
	width: 70%;
	background: -webkit-linear-gradient(360deg, #ffeeee, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(360deg, #ffeeee, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(360deg, #ffeeee, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(360deg, #ffeeee #fff); /* Standard syntax (must be last) */
    min-height: 100vh;
}
div.photo-container {
	width: 15%;
	padding-left: 18%;
	margin-bottom: 0 auto;
	padding-bottom: 0;
}
div.side-floral {
	background-image: url('images/IMG_0637.jpg');
	background-size: cover;
	width: 15%;
}
h1 {
	font-family: 'Meddon', cursive;
	color: #999;
	font-size: 48px;
}
h2 {
	font-family: 'Quintessential', cursive;
	color: #999;
	font-size: 32px;
}
p#petitformalscript{
	font-family: 'Petit Formal Script', cursive;
	color: #555;
}
p#pinyonscript {
	font-family: 'Pinyon Script', cursive;
	font-size: 30px;
	color: #555;
}
.clearfix:after {
	visibility: hidden;
	content: " ";
	height: 0;
	clear: both;
}






