@media only screen and (max-width: 1150px) {
	.dresspage img {
		width: 362px;
		height: 484px;
		margin: 3em;
	}
	.dresspage img div {
		margin-right: 5em;
	}
	.dresspage div h3, ul li {
		font-size: 1em;
	}
}
@media only screen and (max-width: 1050px) {
	.dresspage img {
		width: 269px;
		height: 384px;
		margin: 4em 3em;
	}
	.dresspage ul > li {
		font-size: .8em;
	}
}
@media only screen and (max-width: 882px) {
	.dresspage div {
		margin: 5em 6em 3em 2em;
	}
}
@media only screen and (max-width: 783px) {
	.dresspage div {
		font-size: 1.1em;
	}
}
@media only screen and (max-width: 750px) {
	.dresspage div {
		margin: 1em 4em 4em;
		float: none;
		width: 362px;
		height: 484px;
	}
	.dresspage img {
		margin: 4em 3em 1em;
	}
}
@media only screen and (max-width: 615px) {
	.dresspage div ul > li {
		font-size: 1em;
		line-height: 1.7em
		max-width: 20em;
	}
	.dresspage div h3 {
		font-size: 1em;
	}
	.dresspage div {
		float: none;
		margin: 1em 3em 3em;
	}
	.dresspage img {
		margin: 4em 2em 2em;
	}
}